# --------------------
# Core Java & Compiled Files
# --------------------
*.class
*.ledgerEntry
*.ctxt

# --------------------
# Rust / Cargo
# --------------------
dist/
target/
**/*.rs.bk
/core/src/constants.rs
*.dll
*.so

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Crash Logs
hs_err_pid*
replay_pid*

# --------------------
# Archives & Packages
# --------------------
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

!**/lib/*.jar
!**/sdks/**

# --------------------
# Build Systems (Gradle / Kotlin)
# --------------------
build/
.gradle/
.kotlin/

# --------------------
# IDE - IntelliJ IDEA
# --------------------
.idea/*
!.idea/icon.svg
*.iws
*.iml
*.ipr

# IntelliJ Output
out/
!**/src/main/**/out/
!**/src/test/**/out/

# --------------------
# IDE - Eclipse
# --------------------
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# Eclipse Binaries (with specific exceptions)
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/sdk/**/bin/

# --------------------
# IDE - NetBeans
# --------------------
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --------------------
# IDE - VS Code
# --------------------
.vscode/

# --------------------
# Xcode
# --------------------
.vscode/
xcuserdata/

# --------------------
# OS Specific
# --------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --------------------
# Logs and Keys
# --------------------
local.properties
*.jks